AxadoCarrier/Service References/ServiceReference/WCFAxadoHost1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65087/WCFAxadoHost.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:65087/WCFAxadoHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" />
  <xs:complexType name="CarrierRateViewModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" base="q1:CarrierViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="RateDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RateId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="RateValue" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarrierRateViewModel" nillable="true" type="tns:CarrierRateViewModel" />
</xs:schema>