AxadoCarrier/Service References/ServiceReference/WCFAxadoHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65087/WCFAxadoHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" />
  <xs:import schemaLocation="http://localhost:65087/WCFAxadoHost.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:65087/WCFAxadoHost.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" />
  <xs:element name="CarrierCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" minOccurs="0" name="model" nillable="true" type="q1:CarrierViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CarrierCreateResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" minOccurs="0" name="viewModel" nillable="true" type="q3:CarrierViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarriers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" minOccurs="0" name="GetAllCarriersResult" nillable="true" type="q4:ArrayOfCarrierViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models.CarrierModels" minOccurs="0" name="GetCarrierResult" nillable="true" type="q6:CarrierViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RateCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" minOccurs="0" name="viewModel" nillable="true" type="q8:CarrierRateViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RateCreateResult" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" minOccurs="0" name="viewModel" nillable="true" type="q10:CarrierRateViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" minOccurs="0" name="model" nillable="true" type="q11:CarrierRateViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" minOccurs="0" name="GetRateResult" nillable="true" type="q12:CarrierRateViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserAlreadyRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AxadoCarrier.WebApplication.Models" minOccurs="0" name="model" nillable="true" type="q13:CarrierRateViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfUserAlreadyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfUserAlreadyRatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>